.menu ul li{
  display: inline-block;
  list-style: none;
  padding: 20px 20px 20px 0px;
}

.menu ul li a{
  color:#F1F2AC;
}

.contenido{
  margin-top: 70px;
}

.imagenes-panda{
  padding: 35px 0px;
}

.imagenes-panda figure{
  position: relative;
  display: inline-block;
  padding: 0 14px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.imagenes-panda img{
  height: 200px;
  width: 200px;
  border: 5px solid #767872;
}

.buttons span{
  background-color: #ca3c25;
  display: inline-block;
  height: auto;
  width: 32%;
  padding: 7px 0;
  text-align: center;
  font-size: 21px;
}

.buttons span:hover{
  border: 1px solid #FCE499;
}

.parrafo{
  padding: 50px 0;
  width: 45%;
  display: inline-block;
}
.parrafo p{
  text-align: justify;
  padding: 10px 0px;
}

.dos{
  margin-left: 6%;
  /*border: 1px solid #fff;*/
}

/*js styles*/
.js-show{
  display: none;
}

.js-close{
  position: absolute;
  left:30px;
  top:10px;
  font-size: 21px;
  color: #fff;
}

.js-close:hover{
  cursor: pointer;
}
